<form action="#" class="form-validate is-alter" novalidate="novalidate">
    <div class="form-group">
        <label class="overline-title overline-title-alt form-label">Mật khẩu mới</label>
        <div id="txt-matkhaumoi">
        </div>
    </div>
    <div class="form-group">
        <label class="overline-title overline-title-alt form-label">Nhập lại mật khẩu</label>
        <div id="txt-nhaplaimatkhau">
        </div>
    </div>
    <div class="form-group">
        <a href="#" class="btn btn-lg btn-primary" id="LuuDoiMatKhau" onclick="DoiMatKhau()"><em class="icon ni ni-save"></em><span>Lưu thông tin</span></a>
    </div>
</form>