@model WMS.Models.ReportsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Main.TenWeb</title>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
    )
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )

</head>
<body>
    <div>

        @Html.DevExpress().WebDocumentViewer(settings => {
       settings.Name = "WebDocumentViewer";
   }).Bind(Model.Report).GetHtml()

    </div>
</body>
</html>
