@{

    ViewBag.Title = "Tình trạng QR2 sản xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    <div class="nk-block-head-content">
        <h3 class="nk-block-title page-title">Tình trạng QR2 sản xuất</h3>
    </div>
    @*<div class="nk-block-head-content">
        <div class="toggle-wrap nk-block-tools-toggle">
            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
            <div class="toggle-expand-content" data-content="pageMenu">
                <ul class="nk-block-tools g-3">
                    @if (User.IsInRole("0") || User.IsInRole("13=6"))
                    {
                        <li>
                            <a href="#" class="btn btn-white btn-dim btn-outline-primary" id="XuatExcel" onclick="ExportXLS()"><em class="icon ni ni-download-cloud"></em><span>@Resources.Main.XuatFile</span></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>*@

}
<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner position-relative ">
                <div class="row justify-content-center">
                    <div class="col-lg-2 col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">Số EPI</label>
                            <div id="txt-soepi">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <div class="form-group">
                            <label class="overline-title overline-title-alt form-label">Mã SKU</label>
                            <div id="txt-masku">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-2 text-right">
                        <label class="overline-title overline-title-alt form-label text-white">@Resources.Main.TimKiem</label>
                        <div class="form-group "><button type="button" class="btn btn-secondary" onclick="Refresh()">@Resources.Main.TimKiem</button></div>
                    </div>
                </div>
            </div>
            <div class="card-inner p-0">
                <div id="danh-sach" class="wms-grid"></div>
            </div>
        </div>
    </div>
</div>
<div class="loadpanel"></div>
@section CustomScripts{
    <script type="text/javascript">
        var maSKU = null;
        var soEPI = null;
        var loadPanel = $(".loadpanel").dxLoadPanel({
            shadingColor: "rgba(0,0,0,0.4)",
            visible: false,
            showIndicator: true,
            showPane: true,
            shading: true,
            message: 'Loading..',
            closeOnOutsideClick: false,
        }).dxLoadPanel("instance");
        $(function () {
            $('#danh-sach').height($(window).height() - 250);
            
            $("#txt-masku").dxTextBox({
                placeholder: "Nhập mã SKU"
            });
            $("#txt-soepi").dxTextBox({
                placeholder: "Nhập số EPI"
            });
         

        });
        function loadReport()
        {
            if (soEPI === null || soEPI == "") {
                showtoast("Chưa chọn số EPI", 'error');
                return;
            }
            loadPanel.show();
            $.get("@Url.Action("GetBaoCaoTrangThaiSanXuatQRCode", "BaoCao")",
                { maSKU: maSKU, soEPI: soEPI }).done(function (rs) {
                if (rs.code == 1) {

                    $("#danh-sach").dxDataGrid({
                        dataSource: rs.data,
                        remoteOperations: {
                            paging: true,
                            filtering: true
                        },
                        filterRow: {
                            visible: true,
                            applyFilter: "auto"
                        },
                        paging: {
                            pageSize: 10
                        },
                        columnFixing: {
                            enabled: true
                        },
                        export: {
                            enabled: true
                        },
                        showRowLines: true,
                        rowAlternationEnabled: true,
                        showBorders: true,
                        hoverStateEnabled: true,
                        allowColumnReordering: true,
                        allowColumnResizing: true,
                        columnAutoWidth: true,
                        pager: {
                            showPageSizeSelector: true,
                            allowedPageSizes: [10, 15, 20, 50, 100],
                            showInfo: true,
                        },
                       // keyExpr: "Id",
                        columns: [
                            
                            {
                                dataField: "SoEPI",
                                caption: "Số EPI",
                                allowEditing: false,
                                fixed: true,
                            },
                            {
                                dataField: "MaSanPham",
                                caption: "Mã SP",
                                editorType: "dxTextArea",
                                fixed: true,
                            },
                            {
                                dataField: "MaChiTietSanPham",
                                caption: "Mã Hàng SKU",
                                // width: 90,
                                fixed: true,
                            },
                            {
                                dataField: "MoTa",
                                caption: "Mô Tả",
                                // width: 220,
                                fixed: true,
                            },
                            {
                                dataField: "SoNumOf",
                                caption: "Số OF",
                                fixed: true,
                            },
                            {
                                dataField: "TrangThai",
                                caption: "Trạng thái",
                                fixed: true,
                            },
                            {
                                dataField: "MaKH",
                                caption: "Mã KH",
                                // width: 90,
                                //fixed: true,
                            },
                           
                            {
                                dataField: "KichThuocSanPham",
                                caption: "Kích thước SP",
                                //width: 150
                            },
                            {
                                dataField: "MaMauOrVai",
                                caption: "Màu/Mã Vải Color",
                                //  width: 120
                            },
                            {
                                dataField: "ODM",
                                caption: "ODM",
                                // width: 100
                            },
                            {
                                dataField: "TayNam",
                                caption: "Tay Nắm",
                                //width: 100
                            },
                            {
                                dataField: "MaThung",
                                caption: "Mã Thùng",
                                // width: 100
                            },
                            {
                                dataField: "MauTrong",
                                caption: "Mà trong",
                            },
                            {
                                dataField: "SoLuongEPI",
                                caption: "Số Lượng EPI",
                            }
                            
                        ],
                    });
                    loadPanel.hide();
                }
                else
                {
                    loadPanel.hide();
                    showtoast(rs.text, 'error');
                }
            }).fail(function () {

            });
             
        }
        function Refresh() {
            fileName = Globalize.format(new Date(), 'yyyy-MM-dd-HH-mm-ss');
            maSKU = $("#txt-masku").dxTextBox("instance").option('value');
            soEPI = $("#txt-soepi").dxTextBox("instance").option('value');
           
            loadReport();
        }
    </script>
}

